.LeftSideBar{
    /* width: 164px; */
    width: 220px;
    font-size: 20px !important;
    box-shadow: 1px 0px 0 rgb(0,0,0,0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
    margin-left: 0vw;
    /* margin-top: 5vh */
}

.active{
    font-weight: bolder;
    font-size: 20px;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #df8236;
}

a{
    color: black !important;
}